<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pdoswell.intolerance" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>intolerance</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="pdoswell@gmail.com" href="http://phonegap.com">
        Paul Doswell
    </author>
    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
</widget>
